$sidebar-width: 250px;
$sidebar-margin: 5px;
$sidebar-padding: 10px;
$screen-size-threshold: 900px;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f3f3f3;
}

.card {
    background-color: white;
    margin: $sidebar-margin;
    padding: $sidebar-padding;
    box-shadow: 0px 0px 10px 1px gray;
}

#main-sidebar {
    float: left;
    width: $sidebar-width;
    max-width: $sidebar-width;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (min-width: #{$screen-size-threshold}) {
    .main-container {
        margin-left: calc(#{$sidebar-width} + (#{$sidebar-margin * 2}) + (#{$sidebar-padding * 2}) + 10px);
    }
}